/**
 *  StudApp—Stud.IP to Go
 *  Copyright © 2018, Steffen Ryll
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program. If not, see http://www.gnu.org/licenses/.
 */

/*
 * === LAYOUT ===
 */

/*
 * --- BODY ---
 */

body {
    margin: 20px;
}

@media (min-width: 640px) {
    body {
        margin: 20px 72px;
    }
}

@media (min-width: 1024px) {
    body {
        margin: 20px 128px;
    }
}

/*
 * === TEXT ===
 */

body, p, .formatted-content {
    font: -apple-system-body;
}

/*
 * --- HEADLINES ---
 */

h1 {
    font: -apple-system-title4;
}
h2 {
    font: -apple-system-title0;
}
h3 {
    font: -apple-system-title1;
}
h4 {
    font: -apple-system-title2;
}
h5 {
    font: -apple-system-headline;
}
h6 {
    font: -apple-system-subheadline;
}

/*
 * --- DELIMITERS ---
 */

hr {
    border: none;
    border-top: 1px solid #d6d6d6d6;
}

/*
 * --- LINKS ---
 */

a {
    color: #2a6d9f;
    font-weight: bold;
    text-decoration: none;
}

/*
 * --- QUOTES ---
 */

blockquote {
    position: relative;

    padding-bottom: 2px;
    margin: 8px 0;

    background-color: #1f3f7022;
    border-left: 4px solid #1f3f70;
    border-radius: 4px;
}
blockquote > .author, blockquote > p {
    margin: 0;
    padding: 4px;
    padding-left: 8px;
}
blockquote > .author {
    color: white;
    font: -apple-system-headline;
    background-color: #1f3f70;
    border-top-right-radius: 4px;
}

/*
 * === TABLES ===
 */

table {
    border-spacing: 0;
}
table caption {
    padding: 4px;

    font: -apple-system-headline;
}
table th, table td {
    padding: 1px 8px;

    font: -apple-system-body;
}
table th {
    font-weight: bold;

    border-bottom: 1px solid #d6d6d6d6;
    border-right: 1px solid #d6d6d6d6;
}
table td {
    border-right: 1px solid #d6d6d6d6;
}
table th:last-child, table td:last-child {
    border-right: none;
}
